USE [DICPS]
GO
/****** Object:  Table [dbo].[CASE]    Script Date: 13/09/2026 13:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CASE](
	[CaseID] [int] NOT NULL,
	[DetectiveID] [int] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[CaseNumber] [varchar](100) NOT NULL,
	[CaseType] [varchar](100) NOT NULL,
	[Location] [varchar](100) NOT NULL,
	[Status] [varchar](100) NOT NULL,
	[Priority] [int] NOT NULL,
	[DateOpened] [date] NOT NULL,
 CONSTRAINT [PK_CASE] PRIMARY KEY CLUSTERED 
(
	[CaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CASE_NOTE]    Script Date: 13/09/2026 13:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CASE_NOTE](
	[NoteID] [int] NOT NULL,
	[CaseID] [int] NOT NULL,
	[DetectiveID] [int] NOT NULL,
	[NoteText] [varchar](1000) NOT NULL,
	[DateAdded] [date] NOT NULL,
 CONSTRAINT [PK_CASE_NOTE] PRIMARY KEY CLUSTERED 
(
	[NoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CASE_SUSPECT_LINK]    Script Date: 13/09/2026 13:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CASE_SUSPECT_LINK](
	[LinkID] [int] NOT NULL,
	[CaseID] [int] NOT NULL,
	[SuspectID] [int] NOT NULL,
	[DateLinked] [date] NOT NULL,
 CONSTRAINT [PK_CASE_SUSPECT_LINK] PRIMARY KEY CLUSTERED 
(
	[LinkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLD_CASE]    Script Date: 13/09/2026 13:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLD_CASE](
	[CaseID] [int] NOT NULL,
	[DateReopened] [date] NOT NULL,
	[NewLeadsSummary] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_COLD_CASE] PRIMARY KEY CLUSTERED 
(
	[CaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTODY_LOG]    Script Date: 13/09/2026 13:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTODY_LOG](
	[LogID] [int] NOT NULL,
	[EvidenceID] [int] NOT NULL,
	[HandledByUserID] [int] NOT NULL,
	[TimeStamp] [datetime] NOT NULL,
	[Notes] [varchar](500) NOT NULL,
 CONSTRAINT [PK_CUSTODY_LOG] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETECTIVE]    Script Date: 13/09/2026 13:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETECTIVE](
	[DetectiveID] [int] NOT NULL,
	[Rank] [varchar](100) NOT NULL,
 CONSTRAINT [PK_DETECTIVE] PRIMARY KEY CLUSTERED 
(
	[DetectiveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVIDENCE]    Script Date: 13/09/2026 13:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVIDENCE](
	[EvidenceID] [int] NOT NULL,
	[CaseID] [int] NULL,
	[LoggedByUserID] [int] NOT NULL,
	[EvidenceType] [varchar](100) NOT NULL,
	[Description] [varchar](500) NOT NULL,
	[DateCollected] [date] NOT NULL,
	[HashValue] [varchar](100) NULL,
 CONSTRAINT [PK_EVIDENCE] PRIMARY KEY CLUSTERED 
(
	[EvidenceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFILING_REPORT]    Script Date: 13/09/2026 13:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFILING_REPORT](
	[ReportID] [int] NOT NULL,
	[CaseID] [int] NOT NULL,
	[SuspectID] [int] NOT NULL,
	[ReviewedByUserID] [int] NOT NULL,
	[ProfilingScore] [float] NOT NULL,
	[DateGenerated] [date] NOT NULL,
 CONSTRAINT [PK_Profiling Report] PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF_USER]    Script Date: 13/09/2026 13:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF_USER](
	[UserID] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Role] [varchar](100) NOT NULL,
	[BadgeNumber] [varchar](100) NOT NULL,
 CONSTRAINT [PK_STAFF_USER] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUSPECT]    Script Date: 13/09/2026 13:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUSPECT](
	[SuspectID] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[ContactInfo] [varchar](100) NOT NULL,
	[PhysicalDescription] [varchar](500) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_SUSPECT] PRIMARY KEY CLUSTERED 
(
	[SuspectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WITNESS]    Script Date: 13/09/2026 13:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WITNESS](
	[WitnessID] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[ContactInfo] [varchar](100) NOT NULL,
	[Statement] [varchar](500) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_WITNESS] PRIMARY KEY CLUSTERED 
(
	[WitnessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WITNESS_CASE_LINK]    Script Date: 13/09/2026 13:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WITNESS_CASE_LINK](
	[LinkID] [int] NOT NULL,
	[CaseID] [int] NOT NULL,
	[WitnessID] [int] NOT NULL,
	[DateLinked] [date] NOT NULL,
 CONSTRAINT [PK_WITNESS_CASE_LINK] PRIMARY KEY CLUSTERED 
(
	[LinkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CASE]  WITH CHECK ADD  CONSTRAINT [FK_CASE_DETECTIVE] FOREIGN KEY([DetectiveID])
REFERENCES [dbo].[DETECTIVE] ([DetectiveID])
GO
ALTER TABLE [dbo].[CASE] CHECK CONSTRAINT [FK_CASE_DETECTIVE]
GO
ALTER TABLE [dbo].[CASE]  WITH CHECK ADD  CONSTRAINT [FK_CASE_STAFF_USER] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[STAFF_USER] ([UserID])
GO
ALTER TABLE [dbo].[CASE] CHECK CONSTRAINT [FK_CASE_STAFF_USER]
GO
ALTER TABLE [dbo].[CASE_NOTE]  WITH CHECK ADD  CONSTRAINT [FK_CASE_NOTE_CASE] FOREIGN KEY([CaseID])
REFERENCES [dbo].[CASE] ([CaseID])
GO
ALTER TABLE [dbo].[CASE_NOTE] CHECK CONSTRAINT [FK_CASE_NOTE_CASE]
GO
ALTER TABLE [dbo].[CASE_NOTE]  WITH CHECK ADD  CONSTRAINT [FK_CASE_NOTE_DETECTIVE] FOREIGN KEY([DetectiveID])
REFERENCES [dbo].[DETECTIVE] ([DetectiveID])
GO
ALTER TABLE [dbo].[CASE_NOTE] CHECK CONSTRAINT [FK_CASE_NOTE_DETECTIVE]
GO
ALTER TABLE [dbo].[CASE_SUSPECT_LINK]  WITH CHECK ADD  CONSTRAINT [FK_CASE_SUSPECT_LINK_CASE] FOREIGN KEY([CaseID])
REFERENCES [dbo].[CASE] ([CaseID])
GO
ALTER TABLE [dbo].[CASE_SUSPECT_LINK] CHECK CONSTRAINT [FK_CASE_SUSPECT_LINK_CASE]
GO
ALTER TABLE [dbo].[CASE_SUSPECT_LINK]  WITH CHECK ADD  CONSTRAINT [FK_CASE_SUSPECT_LINK_SUSPECT] FOREIGN KEY([SuspectID])
REFERENCES [dbo].[SUSPECT] ([SuspectID])
GO
ALTER TABLE [dbo].[CASE_SUSPECT_LINK] CHECK CONSTRAINT [FK_CASE_SUSPECT_LINK_SUSPECT]
GO
ALTER TABLE [dbo].[COLD_CASE]  WITH CHECK ADD  CONSTRAINT [FK_COLD_CASE_CASE] FOREIGN KEY([CaseID])
REFERENCES [dbo].[CASE] ([CaseID])
GO
ALTER TABLE [dbo].[COLD_CASE] CHECK CONSTRAINT [FK_COLD_CASE_CASE]
GO
ALTER TABLE [dbo].[CUSTODY_LOG]  WITH CHECK ADD  CONSTRAINT [FK_CUSTODY_LOG_EVIDENCE] FOREIGN KEY([EvidenceID])
REFERENCES [dbo].[EVIDENCE] ([EvidenceID])
GO
ALTER TABLE [dbo].[CUSTODY_LOG] CHECK CONSTRAINT [FK_CUSTODY_LOG_EVIDENCE]
GO
ALTER TABLE [dbo].[CUSTODY_LOG]  WITH CHECK ADD  CONSTRAINT [FK_CUSTODY_LOG_STAFF_USER] FOREIGN KEY([HandledByUserID])
REFERENCES [dbo].[STAFF_USER] ([UserID])
GO
ALTER TABLE [dbo].[CUSTODY_LOG] CHECK CONSTRAINT [FK_CUSTODY_LOG_STAFF_USER]
GO
ALTER TABLE [dbo].[DETECTIVE]  WITH CHECK ADD  CONSTRAINT [FK_DETECTIVE_STAFF_USER] FOREIGN KEY([DetectiveID])
REFERENCES [dbo].[STAFF_USER] ([UserID])
GO
ALTER TABLE [dbo].[DETECTIVE] CHECK CONSTRAINT [FK_DETECTIVE_STAFF_USER]
GO
ALTER TABLE [dbo].[EVIDENCE]  WITH CHECK ADD  CONSTRAINT [FK_EVIDENCE_CASE] FOREIGN KEY([CaseID])
REFERENCES [dbo].[CASE] ([CaseID])
GO
ALTER TABLE [dbo].[EVIDENCE] CHECK CONSTRAINT [FK_EVIDENCE_CASE]
GO
ALTER TABLE [dbo].[EVIDENCE]  WITH CHECK ADD  CONSTRAINT [FK_EVIDENCE_STAFF_USER] FOREIGN KEY([LoggedByUserID])
REFERENCES [dbo].[STAFF_USER] ([UserID])
GO
ALTER TABLE [dbo].[EVIDENCE] CHECK CONSTRAINT [FK_EVIDENCE_STAFF_USER]
GO
ALTER TABLE [dbo].[PROFILING_REPORT]  WITH CHECK ADD  CONSTRAINT [FK_PROFILING_REPORT_CASE] FOREIGN KEY([CaseID])
REFERENCES [dbo].[CASE] ([CaseID])
GO
ALTER TABLE [dbo].[PROFILING_REPORT] CHECK CONSTRAINT [FK_PROFILING_REPORT_CASE]
GO
ALTER TABLE [dbo].[PROFILING_REPORT]  WITH CHECK ADD  CONSTRAINT [FK_PROFILING_REPORT_STAFF_USER] FOREIGN KEY([ReviewedByUserID])
REFERENCES [dbo].[STAFF_USER] ([UserID])
GO
ALTER TABLE [dbo].[PROFILING_REPORT] CHECK CONSTRAINT [FK_PROFILING_REPORT_STAFF_USER]
GO
ALTER TABLE [dbo].[PROFILING_REPORT]  WITH CHECK ADD  CONSTRAINT [FK_PROFILING_REPORT_SUSPECT] FOREIGN KEY([SuspectID])
REFERENCES [dbo].[SUSPECT] ([SuspectID])
GO
ALTER TABLE [dbo].[PROFILING_REPORT] CHECK CONSTRAINT [FK_PROFILING_REPORT_SUSPECT]
GO
ALTER TABLE [dbo].[WITNESS_CASE_LINK]  WITH CHECK ADD  CONSTRAINT [FK_WITNESS_CASE_LINK_CASE] FOREIGN KEY([CaseID])
REFERENCES [dbo].[CASE] ([CaseID])
GO
ALTER TABLE [dbo].[WITNESS_CASE_LINK] CHECK CONSTRAINT [FK_WITNESS_CASE_LINK_CASE]
GO
ALTER TABLE [dbo].[WITNESS_CASE_LINK]  WITH CHECK ADD  CONSTRAINT [FK_WITNESS_CASE_LINK_WITNESS] FOREIGN KEY([WitnessID])
REFERENCES [dbo].[WITNESS] ([WitnessID])
GO
ALTER TABLE [dbo].[WITNESS_CASE_LINK] CHECK CONSTRAINT [FK_WITNESS_CASE_LINK_WITNESS]
GO
